page-home {
    #map {
        height: 100%;
    }

    .item.item-block .item-inner {
        border-bottom: 0.55px solid transparent;
    }

    .toolbar-title-md {
        padding-left: 76px;
    }

}
